.ul{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:0;
    margin: 0;
}
.cover{
    width: 100%;
    height: 100vh;
    
}

.cover img{
    height: 100%;
    width: 100%;
    object-fit: cover; 

}
/* .overlay{
    background-color: rgba(0,0,0,0.6);
    background-size: contain;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 1;
} */

.desc{
    justify-content: center;
    text-align: center;
    align-items: center;
    color:#fff;  
    flex-wrap: wrap;  
    width: 70%;
    top: 50px;
    transform: translate(20%,-270%);
}

.desc h2{
    font-size: 3.2rem;
    font-family:'Times New Roman', Times, serif ;

}
.desc h3{
    font-size: 2.3rem;
    font-family:'Times New Roman', Times, serif ;


}
.desc p{
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif ;
    font-weight: 100;
}



.actions button{
    background-color: orange;
    color: #fff;
    padding: 14px 50px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin: 5px;
    float: right;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 600;
    opacity: 0.9;
    
}

@media(max-width:970px){
    .ul{
        display: block;
    }
    .desc{
        display: none;
    }
    .cover{
        display:none ;
    }
  
}


