.login {
    width: 100%;
    background: #fff;
  }
  
  .loginContainer {
    padding: 60px 60px;
    width: 100%;
    background: #080c0e;   
    height: 100vh;
  }
  
  .login .loginContainer label {
    color: white;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
    margin-top: 30px;
  }
  
  .login .loginContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    letter-spacing: 1px;
  }
  
  .login .loginContainer .btnContainer {
    width: 100%;
    padding: 24px 0;
  }
  
  .login .loginContainer .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: #fff;
  }
  
  .login .loginContainer .btnContainer p span {
    color: orange;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }
  
  .login .loginContainer .btnContainer p span:hover {
    color: red;
  }
  
  .login .loginContainer .errorMsg{
    color: red;
    font-size: 16px;
  }

  button {
    border: none;
    outline: none;
    width: 70%;
    padding: 15px 0;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    background: orange;
    cursor: pointer;
  }
  .logo img{
    margin-top: 50px;
    width:100%;
    object-fit: cover;
    height: auto;
  }
  
  @media(max-width:970px){
    .loginContainer{
      height: 150vh;
    }
   
  }